# Dependencies
**/node_modules/
**/vendor/

# Environment files
**/.env
**/.env.*
!**/.env.example

# Logs and caches
*.log
**/.phpunit.cache/
**/.phpunit.result.cache

# Build artifacts
**/dist/
**/public/build/
**/public/hot/
**/public/storage

# IDEs & OS
.DS_Store
Thumbs.db
.idea/
.vscode/

# Storage
backend/storage/*.key
backend/storage/pail/
backend/storage/framework/cache/*
backend/storage/framework/sessions/*
backend/storage/framework/views/*
!backend/storage/framework/cache/.gitignore
!backend/storage/framework/sessions/.gitignore
!backend/storage/framework/views/.gitignore
